<div class="container">
  <h2>Generowanie Grafu i Hipergrafu z tekstu</h2>
  
  <button matButton="filled" (click)="fetchData()" [disabled]="isLoading()">
   {{ isLoading() ? 'Generowanie...' : 'Wygeneruj graf i hipergraf za pomocą modelu językowego' }}
  </button>

  <p *ngIf="errorMessage()" style="color: red; margin-top: 15px;">{{ errorMessage() }}</p>

  <div *ngIf="graphImageUrl() && hypergraphImageUrl()" class="data-wrapper">
    <div class="img-container">
      <h4>Graf wiedzy wyekstrachowany z tekstu przez LLM:</h4>
      <img [src]="graphImageUrl()" alt="Wygenerowany graf">
    </div>
    <div class="img-container">
      <h4>Hipergraf wiedzy wyekstrachowany z tekstu przez LLM:</h4>
      <img [src]="hypergraphImageUrl()" alt="Wygenerowany hipergraf">
    </div>
  </div>
</div>