<div class="container">
  <h2>Transformacja hipergrafu do grafu</h2>
  
  <button matButton="filled" (click)="fetchData()" [disabled]="isLoading()">
   {{ isLoading() ? 'Transformacja...' : 'Transformuj hipergraf do grafu' }}
  </button>

  <p *ngIf="errorMessage()" style="color: red; margin-top: 15px;">{{ errorMessage() }}</p>

  <div *ngIf="graphXGIImageUrl() && graphLLMImageUrl()" class="data-wrapper">
    <div class="img-container">
      <h4>Graf wiedzy po transformacji do kliki za pomocą gotowego algorytmu z pakietu XGI:</h4>
      <img [src]="graphXGIImageUrl()" alt="Wygenerowany graf (XGI)">
    </div>
    <div class="img-container">
      <h4>Graf wiedzy po transformacji za pomocą LLM (selected clique):</h4>
      <img [src]="graphLLMImageUrl()" alt="Wygenerowany graf (LLM)">
    </div>
  </div>
</div>